<% layout('./h5/_layout') -%>

<div>
  <header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left" onclick="location.href='/h5/'"><span class="icon icon-left-nav"></span>Left</button>
    <h1 class="title">同行</h1>
  </header>
  <div class="content">
    <div class="input-group">
      <input id='txtSearch' type="text" placeholder="Search" onkeydown='SearchKeyDown(event)' />
    </div>
    <ul id="guestList" class="table-view"></ul>
    <span id='last'>&nbsp;</span>

<script id="tpl-guestlst-item" type="text/html" >
{{each competitors as competitor i}}
<li class="table-view-cell">
    <a class="push-right">
        <span class="pull-left icon icon-person" style="color:#3071a9;"></span>
        <strong>{{ competitor.CompetitorName }}</strong>
    </a>
</li>
<li class="table-view-cell table-view-cell-content">
    <span class="spanblock">法人：{{ competitor.LegalPerson }}</span>
    <span class="spanblock"><a class="btn-link" href="tel:{{ competitor.Phone }}">电话：{{ competitor.Phone }}</a></span>
    <span class="spanblock">地址：{{ competitor.Address }}</span>
    <span class="spanblock">业务范围：{{ competitor.BusinessScope }}</span>
</li>
{{/each}}
</script>
<script id="pageScript" type="text/javascript">
  function loadData(){
    $.ajax({
      url: "/api/guest/getGuests",
      success:function(data){
        for(var i = 0; i < data.data.length; i++){
          if (data.data[i].MobilePhone)
            data.data[i].Phone = $.parseJSON(data.data[i].MobilePhone)[0];
        }
        $("#guestList").append(template("tpl-guestlst-item", {guests:data.data}));
      },
      error:function(){
      }
    })
  }
  //loadData()
</script>
  </div>
</div>
