<% layout('./h5/_layout') -%>

<div>
  <header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left" onclick="location.href='/h5/'"><span class="icon icon-left-nav"></span>Left</button>
    <h1 class="title">客户</h1>
  </header>
  <div class="content">
    <div class="input-group">
      <input id='txtSearch' type="text" placeholder="Search" onkeydown='SearchKeyDown(event)' />
    </div>
    <ul id="guestList" class="table-view"></ul>
    <span id='last'>&nbsp;</span>

<script id="tpl-guestlst-item" type="text/html" >
{{each guests as guest i}}
<li class="table-view-cell">
  <a class="push-right">
    <span class="pull-left icon icon-person" style="color:#3071a9;"></span>
    <strong>{{ guest.GuestName }}</strong>
  </a>
</li>
<li class="table-view-cell table-view-cell-content">
  <span class="spanblock"><a class="btn-link" href="tel:{{ guest.Phone }}">电话：{{ guest.Phone }}</a></span>
  <span class="spanblock">性别：{{ guest.Sex }}</span>
  <span class="spanblock">地址：{{ guest.Address }}</span>
</li>
{{/each}}
</script>
<script id="pageScript" type="text/javascript">
  $.ajax({
    url: "/api/guest/getGuests",
    success:function(data){
      for(var i = 0; i < data.data.length; i++){
        if (data.data[i].MobilePhone)
          data.data[i].Phone = $.parseJSON(data.data[i].MobilePhone)[0];
      }
      $("#guestList").append(template("tpl-guestlst-item", {guests:data.data}));
    },
    error:function(){
    }
  })
</script>
  </div>
</div>
