<% layout('./h5/_layout') -%>

<div id="divMain">
  <header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left"><span class="icon icon-left-nav"></span>Left</button>
    <button class="btn btn-link btn-nav pull-right">Right<span class="icon icon-right-nav"></span></button>
    <h1 class="title">Home</h1>
  </header>
  <div class="content">
    <div class="card">
      <ul class="table-view">
        <li class="table-view-cell">
          <a class="push-right" href="./guest" data-transition="slide-in">
            <span class="pull-left icon icon-person" style="color:#3071a9;"></span>
              <strong>客户</strong>
            <span class="badge badge-primary">367</span>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="push-right" href="./vendor">
            <span class="pull-left icon icon-gear" style="color:#d9534f;"></span>
            <strong>供应商</strong>
            <span class="badge badge-primary">413</span>
          </a>
        </li>
        <!--<li class="table-view-cell table-view-divider">Divider</li>-->
        <li class="table-view-cell">
          <a class="push-right" href="/competitor">
            <span class="pull-left icon icon-info" style="color:#5cb85c;"></span>
            <strong>同行</strong>
            <span class="badge badge-primary">29</span>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="push-right" href="#;">
            <span class="pull-left icon icon-info" style="color:#3071a9;"></span>
            <strong>事件</strong>
            <span class="badge badge-primary">0</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>